#!/bin/sh

# enable qt5ct to run 
if [ "$XDG_CURRENT_DESKTOP" = "i3" ]; then
    export QT_QPA_PLATFORMTHEME="qt5ct"
    export QT_PLUGIN_PATH=$HOME/.kde4/lib/kde4/plugins/:/usr/lib/kde4/plugins/
fi

# Swap to HDMI1 output if it is detected
xrandr | grep -q "HDMI1 connected" && xrandr --output HDMI1 --auto --primary --output eDP1 --off

# Allow ranger to default to nvim when run outside i3
export VISUAL='nvim'
export EDITOR='nvim'

# start program that binds keys to shortcuts
xbindkeys

# Disable auto mute that prevents me from switching audio back and forth laptop
/usr/bin/amixer -c 0 sset "Auto-Mute Mode" Disabled
