#!/bin/sh

# enable qt5ct to run 
export QT_QPA_PLATFORMTHEME="qt5ct"
export QT_PLUGIN_PATH=$HOME/.kde4/lib/kde4/plugins/:/usr/lib/kde4/plugins/

# Swap to HDMI1 output if it is detected
xrandr | grep -q "HDMI1 connected" && xrandr --output HDMI1 --auto --primary --output eDP1 --off

# Prevent screen sleep
#xset -dpms
#xset s off

# Allow ranger to default to nvim when run outside DESKTOP SESSION
export VISUAL='nvim'
export EDITOR='nvim'

# Allow desktop session to find local variables
export PATH=~/.local/bin:$PATH

# start program that binds keys to shortcuts
#xbindkeys
xset r rate 250 25
setxkbmap -option "ctrl:swapcaps"
setxkbmap -option "altwin:swap_alt_win"

# Disable auto mute that prevents me from switching audio back and forth laptop
/usr/bin/amixer -c 0 sset "Auto-Mute Mode" Disabled
